{% extends 'base.html' %}


{% block content %}
<div class="row">
	<div class='col-sm-6 col-sm-offset-3'>
		<h1 class="text-align-center"> About HKN-BE</h1>
		<p>
While one of its purposes certainly is the stimulation and reward of scholarship, Eta Kappa Nu has a far broader purpose than merely to award a badge of distinction to scholars. As conceived by its founders and as carried forward by its membership during more than two generations, another aim is to assist its members throughout their lives in becoming better professionals as well as better citizens. In turn, it is still another purpose of the organization, that its members be a constructive force, helping fellow members and non-members alike to improve the standards of the profession, the courses of instruction, and the institutions generally where its chapters are established. 
</p>
<p>
Each undergraduate and alumni chapter is carrying out these ideals in the manner best fitted to its individual needs and opportunities. An international organization, elected by the chapters, exercises general supervision and correlates the efforts of these groups. A quarterly magazine keeps the members informed of the organization's activities and provides a means of contact between graduates and undergraduates.
		</p>
	</div>
</div>

{% endblock %}